.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f7f7f7;
}

.navbar-left .logo {
  height: 40px;
}

.navbar-center a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar-right {
  margin-right: 10px;
}
